<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="portSharingBinding" portSharingEnabled="true">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="svcbh">
          <serviceMetadata httpGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />-->
    <services>
      <service name="GestionixPOSNotificationLib.POSSyncNotification" behaviorConfiguration="svcbh">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost/"/>
          </baseAddresses>
        </host>
        <endpoint name="MyEndPoint" address="" bindingConfiguration="portSharingBinding" binding="netTcpBinding" contract="GestionixPOSNotificationLib.IPOSSyncNotification"/>
        <endpoint name="MetaDataTcpEndpoint" address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ServiceModel"/>
    </modules>
  </system.webServer>
</configuration>